body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: radial-gradient(orangered, orange);
    padding: 10px 30px;
    border-radius: 5px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 10%;
    
}