body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: radial-gradient(orangered, orange);
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
}
.half-width{
    width: 50%;
    padding-left: 10px;
}
.half-width img{
    width: 100%;
    
}
.dream-big{
    display: flex;
}
    